.Header{
  border: 1px solid rebeccapurple;
  background-image: url(../../../Arquivo/Tokyo.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: gold;
  text-shadow: 1px 1px 4px yellow;
  font-size: 20px;
}
a{
  padding: 10px;
  color: gold;
  text-decoration: none;
}
